@model CommandJsonResponse
@{
    ViewData["Title"] = "SubscribeConfirm";
}

@if (Model.Error==false)
{
    <div class="alert alert-success text-white justify-content-center d-flex" role="alert">
        @Model.Message <a asp-controller="home" asp-action="index" class="alert-link">&nbspHome</a>.
    </div>
}
else
{
    <div class="alert alert-danger text-white justify-content-center d-flex" role="alert">
        @Model.Message <a asp-controller="home" asp-action="index" class="alert-link">&nbspHome</a>.
    </div>
}

